Node-RED/basic-flow.json
[
    {
        "id": "b621c31c.e1a86",
        "type": "tab",
        "label": "WDC Basic"
    },
    {
        "id": "20e568ef.eeaac8",
        "type": "watson-conversation-v1",
        "z": "b621c31c.e1a86",
        "name": "Conversation",
        "workspaceid": "",
        "multiuser": false,
        "context": true,
        "x": 519,
        "y": 267,
        "wires": [
            [
                "a1d41e62.3faef"
            ]
        ]
    },
    {
        "id": "f1aa3a7b.1b8fe8",
        "type": "http in",
        "z": "b621c31c.e1a86",
        "name": "BOT REST API",
        "url": "/botchat",
        "method": "post",
        "swaggerDoc": "",
        "x": 127,
        "y": 267,
        "wires": [
            [
                "b2ac3ae.abaaac8"
            ]
        ]
    },
    {
        "id": "a1d41e62.3faef",
        "type": "http response",
        "z": "b621c31c.e1a86",
        "name": "",
        "x": 683,
        "y": 267,
        "wires": []
    },
    {
        "id": "c16f9a1e.f1aca8",
        "type": "template",
        "z": "b621c31c.e1a86",
        "name": "Conversation BOT Template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>My BOT</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\n\t  <div>\n\t      <form onsubmit=\"return false;\">\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n\t      </form>\n\t      <button id=\"chatbutton\" onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n\n      $(document).ready(function() {\n          javascriptCheck();\n          invokeAjax('init')\n      });\n\n      $(\"#id_chattext\").keyup(function(event){\n        event.preventDefault();\n        if(event.keyCode == 13){\n            $(\"#chatbutton\").click();\n        }\n      });\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n\n      function createNewDiv(who, message) {\n          console.log(message)\n        var txt = who + ' : ' + message;\n        return $('<div></div>').html(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }\n\n      function processOK(response) {\n        for (var r in response.output.text) {\n          chat('Bot', response.output.text[r]);\n        }\n        $('#id_contextdump').data('convContext', response.context);\n      }\n\n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n\n      function invokeAjax(message) {\n        console.log($('#id_contextdump').data('convContext'))\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: { message, context: $('#id_contextdump').data('convContext')},\n          success: processOK,\n          error: processNotOK\n        });\n      }\n\n      // User has entered some text.\n      function onChatClick() {\n        var txt = $('#id_chattext').val();\n        $('#id_chattext').val('');\n        chat('You', txt);\n        invokeAjax(txt);\n      }\n      \n    </script>\n  </body>\n</html>\n",
        "x": 416,
        "y": 144,
        "wires": [
            [
                "dfd70932.ccfe38"
            ]
        ]
    },
    {
        "id": "c84605a4.fbedc8",
        "type": "http in",
        "z": "b621c31c.e1a86",
        "name": "BOT Home Page",
        "url": "/",
        "method": "get",
        "swaggerDoc": "",
        "x": 134,
        "y": 144,
        "wires": [
            [
                "c16f9a1e.f1aca8"
            ]
        ]
    },
    {
        "id": "dfd70932.ccfe38",
        "type": "http response",
        "z": "b621c31c.e1a86",
        "name": "",
        "x": 688,
        "y": 143,
        "wires": []
    },
    {
        "id": "b2ac3ae.abaaac8",
        "type": "function",
        "z": "b621c31c.e1a86",
        "name": "Preprocessing",
        "func": "msg.params = msg.params || {};\nmsg.params.context = msg.payload.context;\nmsg.payload = msg.payload.message;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 335,
        "y": 267,
        "wires": [
            [
                "20e568ef.eeaac8"
            ]
        ]
    }
]
